.menu {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.menu div {
    margin: 0 15px;
}

.menu__list-item {
    display: inline;
}

.menu__list-item a {
    padding-right: 15px;
    padding: 6px 12px;
    margin: 0 6px 0 6px;
    border-radius: 5px;
}

.menu__line { 
    display: inline-flex;
    align-self: center;
    transition: 0.5s ease;
}


.menu__search {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid rgba(35,43,85,0.75);
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.menu__search:hover {
    border: 0.5px solid rgb(0, 79, 226);
    transition: all 0.4s;
}

.menu__search:focus-within {
    border: 0.5px solid rgb(0, 79, 226);
    background-color: rgb(247, 247, 247);
    transition: all 0.4s;
}

.menu__search-input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    font-size: 1.5vw;
    border: none;
    outline: none;
    background: none;
}

.links-top li a{
    font-size: 2.2vh;
    font-weight: 600;
    color: white;
    transition: all 0.4s;
}

.links-scrolled li a{
    font-size: 2vh;
    font-weight: 600;
    color: rgba(35,43,85,0.75);
    transition: all 0.4s;
}

.links-top li a,
.links-scrolled li a{
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.links-top li a:after{
    display: block;
    margin-top: 3px;
    content: "";
    background-color: white;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .4s ease-in-out;
    -moz--transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.links-scrolled li a:after {
    display: block;
    margin-top: 3px;
    content: "";
    background-color: rgba(35,43,85,0.75);
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .4s ease-in-out;
    -moz--transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.links-top li a:hover:after{
    width: 90%;
}

.links-scrolled li a:hover{
    color:rgba(35,43,85,0.75);
}

.links-scrolled li a:hover:after{
    width: 90%;
}

.authorization{
    
}

.logged{
visibility: hidden;
}
.not-logged{

}


@media screen and (max-width:670px)
    {
.menu{
    visibility: hidden;
    width: 0;
}
    }

    .authorization__container ul{
        justify-content: center;
        align-content: center;
    }