section{
    max-width: 100%;
    max-height: auto;
    margin: 0;
    padding: 160px 60px;
    color: rgb(33, 44, 68);
    font-size: 1em;
    z-index: 2;
}
#content{
	position:relative;
	z-index:100;
	padding: 10px;
	background: #D1D1D1;
	/* My stripped background */
    background: repeating-linear-gradient(-45deg, rgba(35,43,85,0.75), rgba(35,43,85,0.75) 30px, #F2F2F2 30px, #F2F2F2 40px, rgba(35,43,85,0.75) 40px, rgba(35,43,85,0.75) 70px, #F2F2F2 70px, #F2F2F2 80px);
	box-shadow:0px 1px 6px #3F3F3F;
}
#content:after{
	background:#F9F9F9;
	margin:10px;
	position: absolute;
	content : " ";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1; 
	border:1px #E5E5E5 solid;       
	border-radius:8px;
}

.employee__inner{
    display: flex;
}
main{
	background-color: white;
}








.employee__text-container{
width: 75%;
height: 400px;
padding: 10px;
}

.employee__photo-container{
width: 25%;
background-size: cover;
background-repeat: no-repeat;
}

.employee__cit{
	padding: 10px;
}

.MAS{
	background-image: url(MAS.jpg);
	background-position-x: center;
background-position-y: center;
}
.CHTA{
	background-image: url(CHTA.jpg);
	background-position-x:-6em;
background-position-y: center;
}
.ALM{
	background-image: url(ALM.jpg);
	background-position-x: center;
background-position-y: center;
}
.ARS{
	background-image: url(ARS.jpg);
	background-position-x: center;
background-position-y: center;
}


@media screen and (max-width:829px)
    {
		section{
			font-size: 0.9em;
			padding: 0;
			padding-bottom: 40px;
		}
		section:first-of-type{
		padding-top: 84px;
		}
		section:last-of-type{
			padding-bottom: 0;
		}
		.employee__photo-container{
			width: 0;
		}
		.employee__text-container{
			width: 100%;
			height: auto;
			padding: 10px;
			}
			.employee__title{
				text-align: center;
			}
	}